div.palavra {
    display: flex;
    margin-bottom: 30px;
}

div.caractere {
    font-size: 50px;
    font-weight: 700;

    margin: 13px;
}

.vermelho {
    color: #FF0000;
}

.verde {
    color: #27AE60;
}